/* Title */

.wrapper-countdown {
  align-items: center;
  background: #E6D7BE;
  border-radius: 16px;
  box-shadow: 0px 0px 16px 0px rgba(51, 51, 51, 0.35);
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  padding: 16px;
  width: 390px;

}

.ctn-title {
  height: 50px;
}

.ctn-title p:first-child {
  text-transform: uppercase;
  color: #333;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.ctn-title p:last-child {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

/* Dates */

.ctn-dates {
  display: flex;
  flex-direction: column;
  width: 210px;
  gap: 8px;
}

.ctn-dates .dates {
  align-items: center;
  color: #3B3B3B;
  display: flex;
  font-style: normal;
  gap: 22px;
}

.ctn-dates .dates p {
  height: 53px;
  background: #E8B069;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 8px;
}

.ctn-dates .labels {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  gap: 22px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.ctn-dates .labels p {
  color: #333;
  padding: 0 6px;
}

/* Ads */

.ctn-ads {
  display: flex;
  gap: 22px;
  height: 50px;
  width: 222px;
}

.ctn-ads div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 6px;
  border: 1px solid #F68E01;
  color: #1f1f1f;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100px;
}

@media screen and (min-width: 960px) {
  .wrapper-countdown {
    flex-direction: row;
    width: 100%;
    gap: 56px;
    justify-content: space-between;
  }

  .ctn-title {
    width: fit-content;
    min-width: 277px;
    height: 53px;
  }

  .ctn-title p:first-child {
    font-size: 22px;
  }

  .ctn-title p:last-child {
    font-size: 16px;
    text-align: left;
  }

  .ctn-dates {
    align-items: center;
    height: 104px;
    justify-content: center;
    min-width: 356px;
  }

  .ctn-dates .dates {
    gap: 44px;
    height: 80px;
    margin-bottom: 8px;
  }

  .ctn-dates .dates p {
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    height: 80px;
    justify-content: center;
    width: 56px;
  }

  .ctn-dates .labels {
    gap: 44px;
  }

  .ctn-dates .labels p {
    width: 56px;
    text-align: center;
  }


  .ctn-ads {
    width: 100px;
    height: 40px;
  }

  .ctn-ads div:first-child {
    display: none;
  }
}