.cards-small-ctn {
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow: auto;
  padding: 16px 0px;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  width: 100%;
}

.card-small {
  background: var(--secondary);
  border-radius: 16px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 80px;
  max-width: 100%;
  min-width: 30%;
  padding: 8px 16px;
  scroll-snap-align: start;
  text-decoration: none;
  transition: opacity 1s ease;
  user-select: none;
  width: 50px;
}

.card-small.active {
  opacity: 1;
  transition: opacity 1s ease;
  /* visibility: visible; */
}

.card-small h2 {
  color: var(--content-primary);
  font-size: 1rem;
  white-space: nowrap;
  user-select: none;
}

.card-small .currency {
  user-select: none;
  color: var(--content-primary);
  font-size: .8rem;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .cards-small-ctn {
    overflow: initial;
  }
}