.wrapper-countdown {
  align-items: center;
  background: #E6D7BE;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: center;
  padding: 16px;
  width: 390px;
  border-radius: 16px;
  border: 1px solid #2D549A;
  background: var(--COPA-AMERICA, linear-gradient(102deg, rgba(73, 108, 169, 0.15) 0%, rgba(216, 236, 248, 0.15) 100.7%));
}

.ctn-title {
  height: 50px;
}

.ctn-title p:first-child {
  text-transform: uppercase;
  color: #1f1f1f;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}

.ctn-title p:last-child {
  color: #1f1f1f;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
}

/* Dates */

.ctn-dates {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ctn-dates .dates {
  justify-content: center;
  align-items: center;
  color: #3B3B3B;
  display: flex;
  font-style: normal;
  gap: 16px;
  z-index: 1;
}

.ctn-dates .dates p {
  width: 39px;
  height: 39px;
  padding: 12px;
  border-radius: 100px;
  background: -webkit-linear-gradient(to top, #14408E, #31A1E1);
  background: linear-gradient(to top, #14408E, #31A1E1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.ctn-dates .dates p::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: #ffffff;
  z-index: -1;
}

.ctn-dates .labels {
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  gap: 22px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.ctn-dates .labels p {
  color: #555;
  padding: 0 6px;
}

/* Ads */

.ctn-ads {
  display: flex;
  gap: 22px;
  height: 50px;
  width: 222px;
}

.ctn-ads div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 6px;
  border: 1px solid #F68E01;
  color: #1f1f1f;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100px;
}

@media screen and (min-width: 960px) {
  .wrapper-countdown {
    flex-direction: row;
    width: 100%;
    gap: 56px;
    justify-content: space-between;
  }

  .ctn-title {
    width: fit-content;
    min-width: 277px;
    height: 53px;
  }

  .ctn-title p:first-child {
    font-size: 22px;
  }

  .ctn-title p:last-child {
    font-size: 16px;
    text-align: left;
  }

  .ctn-dates {
    align-items: center;
    height: 104px;
    justify-content: center;
    min-width: 356px;
  }

  .ctn-dates .dates {
    gap: 32px;
    height: 84px;
    margin-bottom: 8px;
  }

  .ctn-dates .dates p {
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: 400;
    height: 64px;
    justify-content: center;
    width: 64px;
    background: -webkit-linear-gradient(to bottom, #14408E, #31A1E1);
    background: linear-gradient(to bottom, #14408E, #31A1E1);
  }

  .ctn-dates .dates p::before {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: 1px;
    right: 1px;
    border-radius: 100px;
    background: #ffffff;
    z-index: -1;
  }

  .ctn-dates .labels {
    gap: 32px;
    width: 100%;
  }

  .ctn-dates .labels p {
    min-width: 65px;
    text-align: center;
    font-size: 12px;
  }


  .ctn-ads {
    width: 100px;
    height: 40px;
  }

  .ctn-ads div:first-child {
    display: none;
  }
}