.ctn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 16px;
}

.title-table {
  color: #555;
  display: grid;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  gap: 24px;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 46px;
  height: 38px;
  margin-bottom: 10px;
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.title-table .title {
  align-self: center;
  font-size: 22px;
  grid-column: 1/2;
  height: 29px;
  width: 100%;
}

.title-table .separator {
  align-self: center;
  border-top: 1px solid #555;
  grid-column: 2/3;
}

.title-table .ad {
  align-self: center;
  background: #F5F5F5;
  border-radius: 6px;
  border: 1px solid #F68E01;
  color: #1F1F1F;
  font-style: normal;
  font-weight: 300;
  grid-column: 3/4;
  height: 30px;
  text-align: center;
}

.wrapper-table {
  border-radius: 8px;
  margin: 0 auto;
  background: #EAEAEA;
  border-radius: 6px 6px 0px 0px;
}

.t-head-contain {
  display: flex;
  padding: 6px 12px;
  column-gap: 24px;
  align-items: center;
}

.t-head-country {
  width: 78px;
  color: #1F1F1F;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.t-head-values {
  align-items: center;
  color: black;
  display: grid;
  column-gap: 16px;
  grid-auto-flow: row;
  grid-template-areas:
    "PTS partidos-jugados DIF";
  grid-template-columns: 1fr minmax(max-content, 1fr) 1fr;
  grid-template-rows: 24px;
  height: 36px;
  width: 100%;
  align-content: center;
}

.t-head-values>div {
  color: #1F1F1F;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.t-head-values :is(.PG, .PE, .PP, .GC, .GF) {
  display: none;
}

.PTS {
  grid-area: PTS;
}

.PJ {
  grid-area: partidos-jugados;
}

/* .PG {
  display: none;
} */

/* .PE {
  display: none;
} */

/* .PP {
  display: none;
} */

.DIF {
  grid-area: DIF;
}

.GC {
  grid-area: GC;
}

.GF {
  grid-area: GF;
}

/* table - body */

.t-body-contain {
  display: flex;
  padding: 6px 12px;
  column-gap: 24px;
  align-items: center;
}

.t-body-country {
  width: 78px;
  color: #1F1F1F;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: 24px;
  display: flex;
  gap: 8px;
}

.t-body-values {
  /* border: 1px solid red; */
  align-items: center;
  display: grid;
  column-gap: 16px;
  /* grid-auto-flow: row; */
  grid-template-areas:
    "PTS partidos-jugados DIF";
  grid-template-columns: 1fr minmax(106px, 1fr) 1fr;
  grid-template-rows: 24px;
  height: 36px;
  width: 100%;
  align-content: center;
}

.t-body-values>div {
  color: #1F1F1F;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.t-body-values :is(.row-pg, .row-pe, .row-pp, .row-gc, .row-gf) {
  display: none;
}

.row-pts {
  grid-area: PTS;
}

.row-pj {
  grid-area: partidos-jugados;
  display: flex;
  gap: 16px;

}

.row-pj :is(.pj-1, .pj-2, .pj-3) {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* flex-shrink: 0; */
  border-radius: 6px;
  border: 1px solid #D5D5D5;
}

/* .row-pg {
  display: none;
} */

/* .row-pe {
  display: none;
} */

/* .row-pp {
  display: none;
} */

.row-dif {
  grid-area: DIF;
}

.row-gc {
  grid-area: GC;
}

.row-gf {
  grid-area: GF;
}